{% extends 'base.html' %}
{% block conteudo %}

<div class="container-fluid p-2 w-25">
    <form action="" class="pb-2">
        <label for="nome">Nome:</label>
        <input type="text" class="pb-1 rounded-1" placeholder="NomeMassa">
        <br>
        <label for="senha">Senha:</label>
        <input type="password" class="pb-1 rounded-1" placeholder="MinhaSenhaLegal123">
        <br>
        <label for="email">E-mail:</label>
        <input type="email" class="pb-1 rounded-1" placeholder="MeuEmail@gmail.com">
        <br>
        <br>
        <input type="submit" name="" id="" value="Enviar" class="btn-primary w-10 rounded-3 w-100">
    </form>
</div>

{% endblock %}